{% extends "bookfocusing/layout.html" %}
{% block link %}users.css{% endblock %}
{% block content %}

<div class="mb-3" style="margin-top: 50px;">
    <form class="form-inline" action="{{ url_for('bookfocusing.users') }}" method="GET">
        <div class="form-group">
            <label for="searchName" class="mr-2">Search by Name:</label>
            <input type="text" class="form-control" id="searchName" name="name" placeholder="Enter name">
        </div>
        <button type="submit" class="btn btn-danger ml-2">Search</button>
    </form>
</div>

<div>
    {% for todo in todos %}
        <div class="card p-1 m-3">
            <div class="card-body">
                {% if todo.completed == "True" %}
                <h5 class="card-title"><del>{{ todo.name }}</del></h5>
                {% else %}
                <h5 class="card-title">{{ todo.name }}</h5>
                {% endif %}
                <p class="card-text text-muted">{{ todo.date_created }}</p>
                <p class="card-text">{{ todo.studentID }}</p>
                <p class="card-text">{{ todo.PassWord }}</p>
                
                <a href="{{ url_for('bookfocusing.update_todo', id=todo._id) }}" class="btn btn-outline-info btn-sm">정보수정</a>
                <a href="{{ url_for('bookfocusing.delete_todo', id=todo._id) }}" class="btn btn-outline-danger btn-sm">회원삭제</a>
            </div>
        </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination custom-pagination">
        {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('bookfocusing.users', page=current_page-1) }}">Previous</a>
            </li>
        {% endif %}
        {% for page_num in range(1, total_pages + 1) %}
            <li class="page-item {% if page_num == current_page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('bookfocusing.users', page=page_num) }}">{{ page_num }}</a>
            </li>
        {% endfor %}
        {% if current_page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('bookfocusing.users', page=current_page+1) }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

<a href="{{ url_for('bookfocusing.signup') }}" class="btn btn-danger btn-floating btn-lg registration-btn">등록
</a>

{% endblock %}